# Ignore
*.7z
*.zip
*.mat
*.p
*.yuv
*.bmp
*.png
*.tif
*.tiff
*.jpg
*.jpeg
*.csv
*.xlsx
*.xls
*.bin
*.asv
*.pdf
*.gif
*.svg
*.doc
*.docx
*.lnk
*.Part.dat
*.hevc
*_stats.txt
config.ini
tools/VQMTMetric/opencv-2.4.13.5-vc14.exe
pruebas_y_ensayos/
output*/
RunCommonConditionsFromINI/
RunCommonConditionsFromINI_resources/
codegen*/
_gitignore

# Exeptions
!tools/VMAF_2.1.1.zip
!tools.zip
!splash.png